:root {
  --main-color: #ce1212;
  --black-color: #212529;
  --gray-color: #7f7f90;
  --secondary-background-color: #eeeeee;
  --main-box-shadow: 0px 0px 14px 0px #0000001b;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
::selection {
  background-color: #d85454;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: var(--main-box-shadow);
  z-index: 50;
  background-color: white;
}
nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 15px;
}
.logo h1 {
  font-size: 30px;
  color: var(--black-color);
  font-weight: 600;
}
.logo h1::after {
  content: ".";
  color: var(--main-color);
}
nav .nav-container .icons {
  display: flex;
}
nav .nav-container .menu {
  display: none;
}
nav .nav-container .menu ul li a:hover {
  color: black;
}
nav .nav-container .menu ul li:hover::after {
  transform: translateX(0);
}
nav .nav-container .menu ul {
  list-style: none;
}
nav .nav-container .menu ul li {
  position: relative;
  overflow: hidden;
  padding: 10px 0;
}
nav .nav-container .menu ul li::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: translateX(-100%);
  transition: transform 1s;
}
nav .nav-container .menu ul li a {
  color: var(--gray-color);
  font-weight: 600;
  font-size: 17px;
}
nav .nav-container .icons i {
  font-weight: 900;
  font-size: 25px;
  color: var(--black-color);
  margin: 0 10px;
  cursor: pointer;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-background-color);
  padding-top: 130px;
}
header .header-img {
  width: 95%;
  padding-bottom: 30px;
}
header .header-img img {
  width: 100%;
  filter: drop-shadow(4px 4px 9px #000a);
}
header .header-img:hover img {
  animation: shakingImage 500ms infinite;
}
@keyframes shakingImage {
  25% {
    transform: translateX(-5px) rotate(-3deg);
  }
  50% {
    transform: translateX(5px) rotate(3deg);
  }
  75% {
    transform: translateX(-5px) rotate(-3deg);
  }
  100% {
    transform: translateX(5px) rotate(3deg);
  }
}
header .header-text {
  text-align: center;
}
header .header-text h2 {
  font-family: "Amatic SC", sans-serif;
  color: var(--black-color);
  font-weight: 700;
  font-size: 65px;
  padding-bottom: 10px;
  margin: 40px;
}
header .header-text p {
  font-weight: 400;
  color: #61615a;
  font-size: 16px;
  line-height: 26px;
}
header .btns {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}
header .btns .first-button {
  background-color: var(--main-color);
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
  width: 35%;
}
header .btns .first-button:hover {
  background-color: #e61414;
}
header .btns a {
  font-size: 15px;
  font-weight: 400;
}
header .btns .second-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}
header .btns .second-btn .icon {
  display: inline-block;
  background-color: white;
  position: relative;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
header .btns .second-btn .icon::before {
  content: "";
  border: 7px solid transparent;
  border-left: var(--main-color) solid 7px;
  border-top: var(--main-color) solid 7px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -7px;
  top: -7px;
  transform: rotate(-45deg);
  box-sizing: content-box;
}
header .btns .second-btn i {
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .btns .second-btn:hover i,
header .btns .second-btn:hover a {
  color: var(--main-color);
}
header .btns .second-btn a {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}
.chefs {
  text-align: center;
  margin: 80px 0;
}
.chefs .main-title {
  margin-bottom: 40px;
}
.chefs .main-title h2 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-color);
  margin-bottom: 10px;
}
.chefs .main-title p {
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  font-weight: 400;
}
.chefs .main-title p span {
  color: var(--main-color);
}
.chefs .items .item {
  position: relative;
  margin: 25px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  width: 90%;
  transition: scale 1s;
}
.chefs .items .item .social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff4d;
  padding: 20px 10px;
  width: fit-content;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translateX(70px);
  border-radius: 5px;
}
.chefs .items .item:hover .social {
  transition: transform 1s ease-in-out 1s;
  transform: translateX(0px);
}
.chefs .items .item:hover {
  scale: 1.08;
}
.chefs .items .item .item-img {
  position: relative;
}
.chefs .items .item .item-img::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-image: url(../Images/team-shape.svg);
  width: 100%;
  height: 50px;
}
.chefs .items .item .item-img img {
  width: 100%;
}
.chefs .items .item h3 {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: var(--black-color);
  padding: 10px;
}
.chefs .items .item span {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
}
.chefs .items .item p {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 15px;
  padding: 10px 15px 20px;
}
.chefs .items .item .social i {
  color: #37373f66;
  cursor: pointer;
}
.chefs .items .item .social i:hover {
  color: var(--black-color);
}
.gallery {
  text-align: center;
  background-color: var(--secondary-background-color);
  padding: 80px 0;
}
.gallery .main-title {
  margin-bottom: 40px;
}
.gallery .main-title h2 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-color);
  margin-bottom: 10px;
}
.gallery .main-title p {
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  font-weight: 400;
}
.gallery .main-title p span {
  color: var(--main-color);
}
.gallery .items .item .item-img img {
  width: 100%;
  display: block;
  transition: transform 1s;
}
.gallery .items .item:hover img {
  transform: scale(1.2);
}
.gallery .items .item {
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: white 3px solid;
}
.gallery .items .item:hover .item-text {
  transform: translateY(0);
}
.gallery .items .item .item-text {
  background-color: #00000096;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery .items .item .item-text {
  color: rgb(221, 221, 221);
  font-size: 16px;
  font-weight: 400;
}
.gallery .items .item .item-text h2 {
  margin-bottom: 10px;
}
.contact {
  padding: 80px 0;
  text-align: center;
}
.contact .main-title {
  margin-bottom: 40px;
}
.contact .main-title h2 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-color);
}
.contact .main-title p {
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 15px;
}
.contact .main-title p span {
  color: var(--main-color);
}
.contact .map {
  margin: 20px;
}
.contact iframe {
  width: 100%;
  aspect-ratio: 1/1;
}
.contact .cards {
  display: flex;
  flex-direction: column;
}
.contact .cards .card-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #f5f5f5;
  margin: 5px 20px;
  padding: 20px;
}
.contact .cards .card-item .card-icon {
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: relative;
}
.contact .cards .card-item .card-icon i {
  color: white;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact .cards .card-item .card-text {
  text-align: start;
}
.contact .cards .card-item .card-text h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: rgb(125, 125, 125);
  font-size: 20px;
}
.contact .cards .card-item .card-text p {
  font-size: 16px;
  font-weight: 400;
  color: var(--black-color);
}
.contact form {
  margin: 20px;
  padding: 20px 0;
  box-shadow: var(--main-box-shadow);
}
.contact form input {
  width: calc(100% - 40px);
  height: 50px;
  margin: 20px;
  padding: 0 15px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.contact form input:focus {
  outline: 2px solid var(--main-color);
  border: none;
}
.contact form textarea {
  width: calc(100% - 40px);
  height: 200px;
  margin: 20px;
  padding: 10px 15px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
}
.contact form textarea:focus {
  outline: 2px solid var(--main-color);
  border: none;
}
.contact form button {
  background-color: var(--main-color);
  padding: 15px 40px;
  margin-top: 20px;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.contact form button:hover {
  background-color: #e61414;
}
footer {
  padding: 40px 10px;
  background-image: linear-gradient(#0009, #0009),
    url(../Images/textured-metal-background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
footer .logo {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
footer .logo h1 {
  color: white;
}
footer .logo .logo-img {
  width: 45px;
}
footer .logo .logo-img img {
  width: 100%;
}
footer .main-title p {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-bottom: 15px;
  padding: 20px;
}
footer .social h3 {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
footer .social h3::after {
  content: "";
  background-color: #585858;
  height: 2px;
  width: calc(100% - 40px);
  text-align: center;
  position: absolute;
  bottom: -10px;
  margin: 0 20px;
  left: 0;
}
footer .social .social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
footer .social .social-icons i {
  font-size: 24px;
  color: white;
  cursor: pointer;
}
footer h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 19px;
}
footer h3 {
  margin: 20px;
}
footer p {
  font-size: 16px;
  color: white;
  margin: 15px 20px;
}
footer .subscribtion input {
  width: calc(100% - 40px);
  height: 40px;
  margin: 10px 20px;
  padding: 0 20px;
}
footer .subscribtion .btn {
  background-color: var(--main-color);
  padding: 10px 20px;
  width: calc(100% - 40px);
  margin: 0 20px;
  text-align: center;
  color: white;
}
footer .quick-links h3 {
  margin: 20px;
}
footer .quick-links ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: white;
  padding: 0 10px;
}
footer .quick-links ul li {
  width: calc(50% - 20px);
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 1s, background-color 1s;
}
footer .quick-links ul li:hover {
  transform: translateX(8px);
  background-color: #222222;
}
footer .quick-links ul li i {
  padding-right: 5px;
}
footer .in-touch .items {
  margin: 10px 20px;
}
footer .in-touch .items .item {
  display: flex;
  align-items: center;
}
footer .in-touch .items .item .icon i {
  color: var(--main-color);
  font-size: 22px;
  font-weight: 22px;
}
@media (min-width: 640px) {
  nav .nav-container {
    margin: 25px 85px;
  }
  header .btns {
    display: flex;
    gap: 50px;
    align-items: start;
  }
  header .btns .second-btn {
    margin-top: 7px;
  }
  header {
    padding: 130px 85px 0;
  }
  .chefs {
    text-align: center;
    margin: 80px 65px;
  }
  .chefs .items .item {
    margin: 30px;
  }
  .gallery {
    padding: 80px 75px;
  }
  .contact {
    padding: 80px 80px;
  }
  footer {
    padding: 40px 85px 20px;
    display: flex;
  }
  footer .subscribtion {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }
  footer .subscribtion .email {
    display: flex;
    align-items: center;
  }
  footer .subscribtion input {
    width: 70%;
    margin: 10px 5px 10px 15px;
  }
  footer .subscribtion .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 40px;
    margin: 0;
    gap: 5px;
  }
  footer .subscribtion .btn i {
    padding-top: 2px;
  }
}
@media screen and (min-width: 768px) {
  nav .nav-container {
    margin: 25px;
  }
  header {
    padding: 130px 25px 0;
  }
  header .header-text {
    padding: 0 85px;
  }
  .chefs .items {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
  .chefs .items .item {
    margin: 20px;
    width: calc(50% - 40px);
  }
  .gallery {
    padding: 80px 7px;
  }
  .gallery .items {
    display: flex;
    flex-flow: column wrap;
    height: 1650px;
    align-items: center;
    align-content: center;
  }
  .gallery .pizza {
    order: 1;
  }
  .gallery .items .item {
    margin: 5px 5px;
    width: 380px;
  }
  .contact {
    padding: 80px 7px;
  }
  .contact iframe {
    aspect-ratio: 2/1;
  }
  .contact .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact .cards .card-item {
    width: calc(50% - 40px);
  }
  footer {
    padding: 40px 7px 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .main-title {
    width: calc(50% - 40px);
    order: -2;
  }
  footer .main-title p {
    margin: 0;
  }
  footer .in-touch {
    order: -1;
    width: 40%;
  }
  footer .in-touch h3 {
    margin: 15px;
  }
  footer .subscribe {
    margin: 30px 20px 0;
  }
  footer .subscribe-p {
    margin: 10px 20px;
  }
}
@media screen and (min-width: 1000px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  header .header-img {
    width: 30%;
    order: 1;
    flex-shrink: 10;
  }
  header .header-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: start;
  }
  header .header-text h2 {
    margin: 0;
  }
  header .btns {
    padding: 20px 0;
    justify-content: start;
  }
  header .btns .first-button {
    border-radius: 0 20px 20px;
  }
  .chefs .items .item {
    width: calc((100% / 3) - 40px);
  }
  .gallery .items {
    height: 1100px;
  }
  .gallery .items .burger {
    order: 2;
  }
  .gallery .items .item {
    width: calc((100% / 3) - 20px);
  }
  .contact iframe {
    aspect-ratio: 2.8/1;
  }
}
@media screen and (min-width: 1280px) {
  nav .nav-container .icons .menu-icon {
    display: none;
  }
  nav .nav-container .menu {
    display: flex;
  }
  nav .nav-container {
    align-content: center;
  }
  header {
    align-items: center;
    justify-content: space-between;
  }
  .gallery .items {
    margin: 0 90px;
    height: 1200px;
  }
  .contact iframe {
    aspect-ratio: 3.5/1;
  }
  .contact form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact form input:first-child,
  .contact form input:nth-child(2) {
    width: calc((100% / 2) - 40px);
  }
  footer {
    justify-content: center;
  }
  footer .main-title {
    width: calc(25% - 20px);
    order: -3;
  }
  footer .subscribtion {
    width: calc(50% - 20px);
    flex-direction: column;
    align-items: start;
    order: -2;
  }
  footer .subscribtion .email {
    width: 100%;
  }
  footer .in-touch {
    width: calc(25% - 20px);
    order: -1;
  }
  footer .quick-links {
    width: 45%;
  }
}
